.line-animation {
    position: relative;
    display: inline-block;
    font-weight: inherit;

    &::before {
        @include pseudo;
        z-index: -1;
        bottom: 8px;
        left: 0;
        width: 0;
        height: 2.1rem;
        clip-path: polygon(0% 1px, calc(100% - 7px) 0%, 100% 100%, 0% calc(100% - 1px));
        transition: width .5s ease-in-out;

        @include respond('md') {
            bottom: 1rem;
            height: 1.1rem;
        }
    }

    &--yellow {
        &::before {
            background-color: color('yellow', '1');
        }
    }

    &--green {
        &::before {
            background-color: color('green', '1');
        }
    }

    &.expand {
        &::before {
            width: 100%;
            transition: width .5s ease-in-out;
        }
    }
}
