//* Base ::selection style
@if variable-exists($name: 'selection-background') and variable-exists($name: 'selection-color') {
    ::selection {
        background-color: $selection-background;
        color: $selection-color;
        text-shadow: none;
    }
}
