////
/// @access public
/// @group colors
////

///Generated
/// @type color
$green: #0cce6b;
///Generated
/// @type color
$purple: #390049;
///Generated
/// @type color
$yellow: #f2dc5d;
///Generated
/// @type color
$pink: #d81159;
///Generated
/// @type color
$grey-dark: #dddee0;
///Generated
/// @type color
$grey-light: #f7f7f7;
///Generated
/// @type color
$white: #fff;
///Generated
/// @type color
$black: #230b29;

///Generated
/// @type map
$light-colors: (
    'green': (
        '1': $green,
    ),
    'purple': (
        '1': $purple,
    ),
    'yellow': (
        '1': $yellow,
    ),
    'pink': (
        '1': $pink,
    ),
    'grey': (
        '1': $grey-light,
        '2': $grey-dark,
    ),
    'white': (
        '1': $white,
    ),
    'black': (
        '1': $black,
    )
);
