////
/// @access public
/// @group abstracts
////

/// List of accepted values for lenghts
/// @type map
$unit-values: (
    'px',
    'em',
    'rem',
    'normal',
    'inherit',
    'initial',
    'unset'
);

/// @type map
$z-list: (
    'modal': 400,
    'button': 200
);

///
$transition-time: .3s;
///
$transition-ease: ease-in-out;

$selection-background: color('secondary', '1');
$selection-color: color('primary', '1');
