.navigation {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3.8rem 3.7rem 0 3.4rem;

    &__home-link {
        @include interact {
            svg {
                animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
                transform: translate3d(0, 0, 0);
            }
        }

        svg {
            width: 17.9rem;
        }
    }

    &__toggle {
        padding: 0;
        border: 0;
        background-color: transparent;
        border-radius: 0;
        color: color('white', '1');
        transform: scale(1);
        transition: transform .3s ease-in-out;

        @include interact {
            transform: scale(1.1);
            transition: transform .3s ease-in-out;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        visibility: hidden;

        &.open {
            visibility: visible;
        }
    }

    &__slide-in {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 67.5rem;
        height: 100%;
        padding: 5.6rem 4.1rem 6.7rem 10.6rem;
        background-color: color('purple', '1');
        clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%);
        transform: translateX(100%);
        transition: transform .5s ease-in-out;

        &.open {
            transform: translate(0);
            transition: transform .5s ease-in-out;
        }
    }

    &__top-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__brandmark-logo {
        width: 9.2rem;

        @include interact {
            svg {
                animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &__menu-container {
        margin-top: 5rem;
    }

    &__menu {
        .menu-item {
            a {
                @extend %nav-link;
                position: relative;
                color: color('white', '1');
                text-decoration: none;

                @include interact {
                    &::before {
                        width: 100%;
                        transition: width .5s ease-in-out;
                    }
                }

                &::before {
                    @include pseudo;
                    z-index: -1;
                    bottom: 8px;
                    left: 0;
                    width: 0;
                    height: 1.5rem;
                    background-color: color('green', '1');
                    clip-path: polygon(0% 1px, calc(100% - 2px) 0%, 100% 100%, 0% calc(100% - 1px));
                    transition: width .5s ease-in-out;
                }
            }
        }
    }
}
