//* Core style for buttons
button,
[type=submit],
[type=reset],
[type=button],
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    cursor: pointer;
    text-align: center;
    user-select: none;
    white-space: nowrap;

    @include disabled {
        opacity: .4;
    }
}
